<div class="admin_sidebar">	
		<aside class="span4">
			<p><%= @levelpack.name %></p>
			<p><%= @levelpack.title %></p>
			<ul>
				<% @levelpack.corresponding_levels.each do |level| %>
					<li><%= link_to level.name, level %></li>
				<% end %>
			</ul>
			<p>Solution: <%= @levelpack.solution %></p>
			<p><%= link_to 'Edit', edit_levelpack_path(@levelpack) %></p>
		</aside>
</div>
