<% provide :title, @levelpack.name %>

<h1><%= @levelpack.name %></h1>
<p>name: <%= @levelpack.name %></p>
<p>title: <%= @levelpack.title %></p>
<p>solution: <%= @levelpack.solution %></p>
<p></p>
<ul>
	<% @levels.each do |lvl| %>
		<li><%= link_to lvl.name, lvl %></li>
	<% end %>
</ul>
